# https://EditorConfig.org
root = true

[*]
# Core file configuration
charset = utf-8
end_of_line = lf

# Core formatting configuration
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true
